<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>起始页捏</title>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'JavaScript/vue.js' %}"></script>
    <style>
        #main{
            background-image: url(https://pic1.zhimg.com/v2-8d5ebb4f0fa67e76cbdd3c468f596e98_r.jpg);
            background-size:cover;
        }
        #box{
            width:300px; text-align:center; font-szie:18px;
        }
    </style>
</head>
<!-- body的背景图片为全屏拉伸 -->
<body id="main" >
<!-- 导航栏 -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">
        <img src="{% static 'picture/img.png' %}" alt="logo" style="width:40px;">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">首页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="upload/">文件传输</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="download/">文件下载</a>
        </li>
        <li class="nav-item">
            <!-- 下拉菜单显示‘常用网页’ -->
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
                常用网页
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="https://jwc.nefu.edu.cn/index/jwglxt.htm"  target="_blank">东北林业大学教务处课程管理系统</a>
                <a class="dropdown-item" href="http://222.27.166.246/studentHome/index"  target="_blank">瑞格平台</a>
                <a class="dropdown-item" href="https://acm.webvpn.nefu.edu.cn/" target="_blank">OJ平台</a>
                <a class="dropdown-item" href="https://www.github.com/" target="_blank">Github</a>
            </div>
        </li>
    </ul>
</nav>
<br/><br/><br/>
<!-- 居中百度搜索框 -->
<div class="container" style="margin-top: 20px;" id="searchbar">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请输入关键字,选择对应搜索引擎搜索" aria-label="keyWord" aria-describedby="basic-addon2" v-model="search">
                <div class="input-group-append">
                    <div class="btn-group">
                         <button type="button" class="btn btn-primary"  @click="sousuo('baidu')">百度</button>
                         <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" >搜索引擎</button>
                             <ul class="dropdown-menu">
                                 <li><a class="dropdown-item" @click="sousuo('google')">谷歌</a></li>
                                 <li><a class="dropdown-item" @click="sousuo('biying')">必应</a></li>
                                 <li><a class="dropdown-item" @click="sousuo('github')">GitHub</a></li>
                                 <li><a class="dropdown-item" @click="sousuo('csdn')"> CSDN</a> </li>
                             </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div  id="main_block">
    <div class="row" >
        <div class="col-1 "></div>

        <div class="col-2 " id="box" @click="Common_websites('mail')">
            <!-- 可点击图片 -->
            <img src="{% static 'picture/mail_logo.png' %}" alt="img" style="width:100px;height:100px;" >
            <br/>东林邮件系统
        </div>

        <div class="col-2" id="box" @click="Common_websites('webVPN')">
            <!-- 可点击图片 -->
            <img src="{% static 'picture/webvpn_logo.png' %}" alt="img" style="width:100px;height:100px;" >
            <br/>东林网络VPN
        </div>

        <div class="col-2" id="box" @click="Common_websites('Oj')">
            <!-- 可点击图片 -->
            <img src="{% static 'picture/Oj_logo.png' %}" alt="img" style="width:100px;height:100px;" >
            <br>OJ平台
        </div>

        <div class="col-2" id="box" @click="Common_websites('Inefu')">
            <!-- 可点击图片 -->
            <br/>
            <img src="{% static 'picture/Inefu_logo.png' %}" alt="img" style="width:220px;height:60px;"  >
            <br/>数字东林
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-1 "></div>
        <div class="col-2" id="box" @click="Common_websites('jwcnew')">
            <!-- 可点击图片 -->
            <img src="{% static 'picture/教学平台_logo.png' %}" alt="img" style="width:100px;height:100px;" >
            <br/>东林教务处
        </div>

        <div class="col-2" id="box" @click="Common_websites('scihub')">
            <!-- 可点击图片 -->
            <img src="{% static 'picture/scihub_logo.png ' %}" alt="img" style="width:80%;height:80%;" >
            <br/>Scihub
        </div>

        <div class="col-2" id="box" @click="Common_websites('bilibili')">
            <!-- 可点击图片 -->
            <img src="{% static 'picture/bilibili.png' %}" alt="img" style="width:100px;height:100px;" class="rounded">
            <br/>哔哩哔哩
        </div>

        <div class="col-2" id="box" @click="Common_websites('cnki')">
            <!-- 可点击图片 -->
            <img src="{% static 'picture/cnki_logo.png' %}" alt="img" style="width:75%;height:75%;" class="rounded">
            <br/>知网
        </div>
    </div><br/><br/>
        <div class="row">
            <div class="col-1 "></div>
            <div class="col-1 "></div>
            <div class="col-1 "></div>
            <div class="col-1 "></div>
            <div class="col-2 " id="box" @click="Common_websites('study_file')">
            <!-- 可点击图片 -->
            <img src="{% static 'picture/img.png' %}" alt="img" style="width:50%;height:70%;">
            <br/>林大学习资料（暂时只有计科）
            </div>
        </div>

</div>
<br/><br/>
<!-- 居中小文字 -->
<div class="container" style="margin-top: 20px;" id="footer">
    <div class="row">
        <div class="col-12">
            <small>Copyright <a href="https://www.nefuwzp.site/" target="_blank">lipu</a> 2022
            <br/> powered by <a style="color: darkgreen">Django</a>
            </small>
        </div>
    </div>
</div>
</body>
<script>
    var vm = new Vue({
        el: '#searchbar',
        data: {
            search: '',
        },
        methods: {
            sousuo: function (input) {
                //根据input的值在不同搜索引擎上搜索
                switch (input) {
                    case 'baidu':
                        if (this.search == '') {
                            window.open('https://www.baidu.com/');
                        } else {
                            window.open('https://www.baidu.com/s?wd=' + this.search);
                        }
                        break;
                    case 'google':
                        if (this.search == '') {
                            window.open('https://www.google.com/');
                        } else {
                            window.open('https://www.google.com/search?q=' + this.search);
                        }
                        break;
                    case 'biying':
                        if (this.search == '') {
                            window.open('https://cn.bing.com/');
                        } else {
                            window.open('https://cn.bing.com/search?q=' + this.search);
                        }
                        break;
                    case 'github':
                        if (this.search == '') {
                            window.open('https://www.github.com/');
                        } else {
                            window.open('https://www.github.com/search?q=' + this.search);
                        }
                        break;
                    case 'csdn':
                        if (this.search == '') {
                            window.open('https://www.csdn.net/');
                        } else {
                            window.open('https://so.csdn.net/so/search/s.do?q=' + this.search);
                        }
                        break;
                }
            }
        }
    });
    var main_block = new Vue({
        el: '#main_block',
        data: {},
        methods: {
            Common_websites: function (input) {
                switch (input) {
                    case 'mail':
                        window.open('http://smtp.nefu.edu.cn/');
                        break;
                    case 'webVPN':
                        window.open('https://webvpn.nefu.edu.cn/');
                        break;
                    case 'Oj':
                        window.open('https://acm.webvpn.nefu.edu.cn/');
                        break;
                    case 'Inefu':
                        window.open('https://i.webvpn.nefu.edu.cn/');
                        break;
                    case 'jwcnew':
                        window.open('https://jwcnew.webvpn.nefu.edu.cn/dblydx_jsxsd/');
                        break;
                    case 'scihub':
                        window.open('https://www.scihub.net.cn/');
                        break;
                    case 'bilibili':
                        window.open('https://www.bilibili.com/');
                        break;
                    case 'cnki':
                        window.open('https://www.cnki.net/');
                        break;
                    case 'study_file':
                        window.open('https://www.nefuwzp.site/?cat=4');
                        break;
                }
            }
        }
    });
</script>
</html>